@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');



.full-height {
    min-height:100vh;
}

.contact-height {
    height:85vh;
}

.footer-height {
    height:15vh;
}


/* ...............................Navbar */ 

.navbar {
    padding: 0; 
}

.navbar-dark .navbar-brand {
    padding: 0;
    font-family: 'Girassol', cursive;
    color: rgba(253, 208,35, 1);
    font-size: 40px;
    margin: 0 0 0 3vh;
}


.nav-item {
    font-size: 20px;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    padding: 0 35px 0 35px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(253, 208,35, 1);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    transition-duration: 1s;
}

.navbar-dark .navbar-nav .nav-link:active {
    color: white;
}


/* ...............................About us */ 

.about-us-image {
    height: 100vh;
    background: url(../images/about-us-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'Lora', serif;
}

.jumbotron h1 {
    color: rgba(253, 208,35, 1);
}


/* ...............................Performances */ 

.performances-bg-image {
    background: url(../images/performances-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.overlay {
    background-color:rgba(0,0,0,0.3);
}

.performances-header {
    margin-top: 15vh;
}

.performances-header h2 {
    font-family: 'Lora', serif;
    color: rgba(253, 208,35, 1);
    font-size: 40px;
    font-weight: 600;
}

.performance-cards-row {
    margin-top: 15vh;
}

.card {
    margin-bottom: 10vh;
}

.card-body {
    font-family: 'Lora', serif;
}

.btn-primary {
    color: rgba(253, 208,35, 1);
    background-color: black;
    border-color: rgba(253, 208,35, 1);
    font-family: 'Lora', serif;
}

.btn-primary:hover {
    color: white;
    transition-duration: 1s;
    background-color: black;
    border-color: rgba(253, 208,35, 1);
}


/* ...............................Contact */

.contact-bg-image {
    background: url(../images/bg-image-contactus.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.row-form {
    margin-top: 15vh;
    max-width: 75vh;
}

.form-bg-color {
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
}

.font-style-form {
    font-family: 'Lora', serif;
    color: white;
}

.form-control {
    background-color: rgba(0, 0, 0, 0);
}

/* ...............................Footer */

.footer-bg {
    background-color: #000000;
}

.footer-row {
    max-width: 50vh;
}

.footer-row i {
    font-size: 35px;
    color: rgba(253, 208,35, 1);
}

.footer-row i:hover {
    color: white;
    transition-duration: 1s;
}

.copyright-text {
    font-family: 'Lora', serif;
    color: white;
}