@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700;800&display=swap');



.full-height {
    min-height:100vh;
}

/* ...............................Navbar */ 

.navbar {
    padding: 0; 
}

.navbar-brand {
padding: 0;
}

.brand-image {
    max-height: 110px;
}

.nav-item {
    font-size: 20px;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    margin-left: 10vh;
}

/* ...............................About us */ 

.about-us-image-container {

    height: 560px;
    background: url(../images/about-us-image.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.about-us-text-container {


}

.about-us-text-col {
    padding: 0;
}

.about-us-text-container h3 {
    background-color: rgba(253, 208,35, 1);
    font-family: 'Lora', serif;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-text-container p {
    font-family: 'Lora', serif;
}

/* ...............................Performances */ 

.performances-bg-image {
background: url(../images/performances-bg-image.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
margin: 0;
padding: 0;

}

.performances-header {
    margin-top: 20vh;
 
}

.performances-header h2 {
    font-family: 'Lora', serif;
    color: rgba(253, 208,35, 1);
    font-size: 40px;
    font-weight: 600;
}

.performance-cards-row {
    margin-top: 20vh;

}

.card {
    margin-bottom: 10vh;
}

.card-body {
    font-family: 'Lora', serif;
}

.btn-primary {
    color: rgba(253, 208,35, 1);
    background-color: black;
    border-color: rgba(253, 208,35, 1);