.full-height {
    height:100vh;
}

/* ...............................Navbar */ 

.navbar {
    padding: 0; 
}

.navbar-brand {
padding: 0;
}

.brand-image {
    max-height: 110px;
}

.navbar-font{
    font-size: 20px;
    font-family: 'Lora', serif;
}

/* ...............................About us */ 

.about-us-image-container {

    height: 560px;
    background: url(../images/about-us-image.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.about-us-text-container {


}

.about-us-text-col {
    padding: 0;
}

.about-us-text-container h3 {
    background-color: rgba(253, 208,35, 1);
    font-family: 'Lora', serif;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-text-container p {
    font-family: 'Lora', serif;
}

/* ...............................Performances */ 

.performances-bg-image {
background: url(../images/performances-bg-image.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
margin: 0;
padding: 0;

}
